[[emitter.bosun]]
host = "{{ _.bosun.host }}"
{% if _.bosun.tags is defined -%}
[emitter.bosun.tags]
{% for k,v in _.bosun.tags.items() -%}
{{ k }} = {{ v | to_json }}
{% endfor %}
{% endif %}

{% for name in ["postfix", "jvm", "rscollector", "galera", "mongo", "ssh_certificate"] %}
{% if name in _%}
{% for collector_data in _[name] %}
[[collector.{{ name }}]]
{% for k,v in collector_data.items() %}
{% if k == "tags" %}
[collector.{{ name }}.tags]
{% for tk,tv in v.items() -%}
{{ tk }} = {{ tv | to_json }}
{% endfor %}
{% else %}
{{ k }} = {{ v | to_json }}
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}
{% endfor %}
